/*debugging*/

/** {
  outline: 1px solid red !important;
}*/

/*settings*/

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body,h1,h2,p,ul,figure{
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

/**/
body{
  /*min-width: 300px;*/
}
/*container*/
.container{
  max-width: 750px;
  min-width: 300px;
  margin: 0 auto;
}

/* header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #7d97ad;
  height: 20vh;

  /*padding-bottom: 1.2em;*/

}
.logo {

}
.text-box {
  text-align: right;
}
.logo-heading,.logo-paragraph {

}
.logo-heading{
  /*font-size: 2em;*/
}

/* main */
/* main-img */
main {

  padding-top: 1.2em;
  height: 80vh;
}

.main-img-box {

  max-width: 100%; /* 이미지의 최대사이즈 */
  width /***/: auto; /* IE8 */
  height: auto;
  vertical-align: bottom;
}
.main-img {
  max-width: 100%; /* 이미지의 최대사이즈 */
  width /***/: auto; /* IE8 */
  height: auto;
  vertical-align: bottom;
}

/* feature-works */

.feature-heading{
  color: #7d97ad;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.feature-works-list p {
  text-align: center;
  font-weight: bold;
}
.img-box {
  width: 100%;
  height: auto;
  padding-bottom: 66.6667%;
  position: relative;
  overflow: hidden;
}
.figrue-item-margin{
  margin-right: 1rem;
}
figure img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
figcaption {
  text-align: center;
  font-size: 0.8rem;
}






/*footer*/

footer {
  height: 4em;
  line-height: 4em;
  padding: 2em;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.footer-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-link-item{
  display: inline-block;
}
.copyright{
  margin-left: 2em;
}
